node_modules
node_modules/
/node_modules
/node_modules/

inspect-output
inspect-output/

.expo
.expo/
dist
dist/
web-build
web-build/
expo-env.d.ts

.kotlin
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
ios
/ios
android
/android

.metro-health-check*

npm-debug.*
yarn-debug.*
yarn-error.*

.DS_Store
*.pem

.env
.env.local
.env*.local
.env.development
.env.production

*.tsbuildinfo

.git
.git/
.github
.github/

app-example
coverage
__tests__
__mocks__
docs
README.md
scripts
*.log
