---
layout: "base.html"
permalink: "/news/index.html"
title: "ਖ਼ਬਰਾਂ ਅਤੇ ਅਪਡੇਟਸ"
description: "ਪੱਟੀ ਬਾਈਟਸ: ਪੱਟੀ ਸ਼ਹਿਰ ਦੀਆਂ ਤਾਜ਼ਾ ਖ਼ਬਰਾਂ ਅਤੇ ਅਪਡੇਟਸ ਇੱਥੇ ਪੜ੍ਹੋ।"
keywords: "ਪੱਟੀ ਬਾਈਟਸ, Patti Bytes news, Patti News, ਖਬਰਾਂ, ਅਪਡੇਟਸ, ਪੰਜਾਬੀ ਖਬਰਾਂ"
---

{# The content below will be processed by Nunjucks if the front matter is correct #}

{% block head_css %} {# Injecting news.css into the head of base.html #}
<link rel="stylesheet" href="/news.css" />
{% endblock %}

<section class="latest-news">
    </section>

{% block body_js %} {# Injecting news.js into the body of base.html #}
<script defer src="/news.js"></script>
{% endblock %}
