.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f9fafb;
}

.main {
  flex: 1;
  margin-top: 60px;
  padding-bottom: 70px;
}

@media (min-width: 1024px) {
  .main {
    margin-left: 240px;
    padding-bottom: 0;
  }
}
